{{> head}}
<body>

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1> Imagen clase</h1>
        </div>

        <div class="col-4">
            <img src="https://s.gravatar.com/avatar/88f2ee32d146425a422f58f8eab5424b?size=496&default=retro" class="img-thumbnail">
        </div>
    </div>

{{> footer}}
